#header {
    display: flex;
    gap: var(--gap);
    height:64px;
    background:white;
    padding: var(--gap);
    >.logo {
        flex: 1;
        img {
            object-fit: contain;
            height:100%;
        }
    }
    >nav {
        display: flex;
        align-items: center;
        gap:var(--gap);
        a {
            color:var(--couleur-texte);
            text-decoration: none;
            &:hover {
                color:var(--couleur-alt);
            }
        }
    }
}