.header > .hero {
    position: relative;
    background-color: black;
}

.header > .hero > .header__fond{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

body:not(.home) .header .hero-body {
    padding:0
}
body:not(.home) .header .logo {
    height:20vh;
    object-fit: contain;
}