.partenaires {
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    margin-block: 2rem;
    justify-content: center;
}

.partenaires div{
    flex: 0 0 120px;
    text-align: center;
}

.partenaires div>img{
    width: auto;
    height: 80px;
    object-fit: contain;
}