:root {
    --vert: #77a85f;
    --beige: #cebfa8;
    --orange: #d0701c;
    --rouge: #b44c49;
    --gris-fonce: #2E2C39;
    --gap: 2rem;

    --couleur-texte: var(--gris-fonce);
    --couleur-liens: var(--vert);
    --couleur-principale: var(--vert);
    --couleur-alt: var(--rouge);
}