<footer class="footer mt-5">
    <div class="container">
        <div class="columns">
        <div class="column is-4 is-offset-1">
    <img class="logo" src="{{ theme.uri }}/images/logo.png"></a>
</div>

            <div class="column is-3">
                <h2>
                    <strong>
                        Nos prestations
                                            
                    </strong>
                </h2>
                <ul>
                    <li><a href="#">Rénovation Énergétique</a></li>

                    <li><a href="#">Extensions de maisons</a></li>

                    <li><a href="#">Rénovation globale</a></li>

                </ul>
            </div>
            <div class="column is-3">
                <h2>
                    <strong>
                        Informations
                                            
                    </strong>
                </h2>
                <ul>
                    <li><a href="#">Tester votre éligibilité</a></li>
                    <li><a href="#">Nous contacter</a></li>
                    <li><a href="#">Qui sommes nous ?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../js/bulma.js"></script>
</footer>
