{% extends "base.twig" %}
{% block content %}


<section class="container">

    {% include 'home/principal.twig' %}
    {% include 'home/engagements.twig' %}




<!-- {% include 'home/etapes.twig' %} -->
{% include 'home/partenaires.twig' %}
{% include 'home/avis.twig' %}

</section>

<!-- <div class="columns">
    <div class="column box">

    </div>
    <div class="column box">
        <img src="{{ theme.uri }}/images/renovation.jpg">
    </div>
</div> -->
{% endblock %}