{% extends "base.twig" %}
{% block content %}
<section class="container">

    <div class="box mt-5">
        <div class="columns">
            <div class="intro column is-8 is-offset-2">
                {% if post.title %}
                    <h2 class="title">
                        {{ post.title }}
                    </h2>
                {% endif %}
                <div class="has-text-left">
                    {{ post.description }}
                </div>
            </div>
        </div>
    </div>
    {% include "renovation-energetique/solutions.twig" %}
</section>
{% endblock %}
