#annonce {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--couleur-fond-annonce);
    color: var(--couleur-texte-annonce);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--hauteur-header);
    z-index: 1000000;

    padding: var(--half-gap);

    @media screen and (min-width: 800px) {
        padding: 0;
    }

    >div {
        max-width: var(--largeur-contenu);
        display: flex;

        flex-direction: column;

        @media screen and (min-width: 800px) {
            flex-direction: row;
            gap: var(--half-gap);

        }

    }
}

body:has(#annonce) #brevo-conversations {
    transform: translateY(calc((var(--hauteur-header) + var(--gap)) * -1)) !important;
    @media screen and (min-width: 800px) {
        transform: translateY(calc(var(--hauteur-header) * -1)) !important;
    }
}