.cdf {
    display: flex;
    flex-direction: row;
    >li {
        svg {
            height: 0.8rem;
            aspect-ratio: 1;
            display: inline-block;
            fill:currentColor
        }
        font-size: .9rem;
        &:not(:last-child):after {
            content : ' / ';
            margin-inline: var(--small-gap);
        }
        &:last-child a{
            color: var(--gris);
        }
    }
}