body {
    --vert-clair:#d2f8d1;
    --vert: #77a85f;
    --or: #c1aa81;
    --beige: #cebfa8;
    --orange: #d0701c;
    --rouge: #b44c49;
    --gris-clair: #e3eaf4;
    --gris: #a4aab3;
    --gris-fonce: #2E2C39;
    --gris-fonce-alt: #3F3F3F;
    --gap: 2rem;
    --micro-gap: 0.5rem;
    --small-gap: 0.8rem;
    --half-gap: 1rem;
    --large-gap: 5rem;

    --couleur-texte: var(--gris-fonce-alt);
    --couleur-texte-inv: white;
    --couleur-liens: var(--or);
    --couleur-principale: var(--or);
    --couleur-alt: var(--gris-fonce);
    --couleur-ter: var(--gris-fonce);

    --ombre : 0px 14px 24px 0px rgba(0, 0, 0, 0.15);
    --ombre-hover : 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
    --couleur-footer: white;

    --largeur-site: 1600px;
    --largeur-contenu: 1200px;
    --largeur-page: 900px;

    --radius: .45rem;

    --hauteur-header: 48px;
    --hauteur-fenetre: calc(100vh - (var(--hauteur-header) + 2 * var(--gap)))
}

body.admin-bar {
    --hauteur-fenetre: calc(100vh - (var(--hauteur-header) + 2 * var(--gap)) - 32px)
}