button[data-action] {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.bouton {
    --hauteur-bouton: 48px;
    cursor: pointer;
    border: 0;
    display: inline-flex;
    padding-inline: var(--half-gap);
    @media screen and (min-width: 800px) {
        padding-inline: var(--gap);
    }
    min-height: var(--hauteur-bouton);
    border-radius: var(--radius);
    color: white;
    text-decoration: none;
    font-family: "Raleway-Bold", Sans-serif;
    letter-spacing: 0.05rem;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before {
        opacity: 0;
        z-index: -1;
        content: '';
        transition: all .5s ease-in-out;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: var(--couleur-alt);
    }

    &:after {
        content: '';
        z-index: -2;
        position: absolute;
        inset: 0;
        background: no-repeat center;
        background-size: contain;
        background-color: var(--couleur-principale);
    }

    &:not(:has(svg)) {
        // padding-block: var(--micro-gap);
    }

    &:has(svg) {
        padding: 0;

        >* {
            height: 100%;
            display: flex;
            align-items: center;
        }

        >span {
            padding-block: var(--micro-gap);
            padding-left: var(--gap);
            padding-right: var(--micro-gap);
        }

        gap:0;

        >svg {
            min-height: var(--hauteur-bouton);
            height: 100%;
            transition: all .2s ease-in-out;
            border-radius: var(--radius);
            padding-left: var(--micro-gap);
            padding-right: var(--gap);
            fill: currentColor;
        }

        @media screen and (min-width: 1024px) {
            &:hover>svg {
                background-color: var(--couleur-principale);
                fill: white;
                transform: translateX(25%);
            }
        }
    }

    @media screen and (min-width: 1024px) {
        &:hover {
            &:before {
                opacity: 1;
                width: 100%;
                background-color: var(--gris-clair);
            }

            color: var(--gris-fonce);
        }
    }

    &[href=""] {
        display: none !important;
    }



}

.bouton.alt {
    &:after {
        background-color: white;
    }

    &:before {
        background-color: var(--gris-clair);
    }

    border: 1px solid var(--couleur-principale);
    color: var(--couleur-principale);

}

.bouton[data-selected] {
    color: white;

    &:after {
        background-color: var(--gris-fonce);
    }
}

.bouton:not(.alt)[aria-busy="true"],
form[aria-busy="true"] .bouton:not(.alt) {
    &:after {
        z-index: 5;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNzMgNTBjMC0xMi43LTEwLjMtMjMtMjMtMjNTMjcgMzcuMyAyNyA1MG0zLjkgMGMwLTEwLjUgOC41LTE5LjEgMTkuMS0xOS4xUzY5LjEgMzkuNSA2OS4xIDUwIj48YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIGF0dHJpYnV0ZVR5cGU9IlhNTCIgZHVyPSIxcyIgZnJvbT0iMCA1MCA1MCIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIHRvPSIzNjAgNTAgNTAiIHR5cGU9InJvdGF0ZSIvPjwvcGF0aD48L3N2Zz4=)
    }
}


.boutons {
    display: flex;
    gap: var(--half-gap);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}