.bouton {
    display: inline-flex;
    padding:1rem 1.5rem;
    border-radius:.5rem;
    background-color: var(--couleur-principale);
    color:white;
    text-decoration: none;
    font-family: "Raleway-Bold", Sans-serif;
    letter-spacing: 0.05rem;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    &:hover {
        background-color: var(--couleur-alt);
        color: white;
    }
}