#estimation {
    [data-etape]:not([data-active]) {
        display: none;
    }

    &:not([data-etape]) {
        [data-action="recommencer"] {
            display: none;
        }

        .bouton .voir,
        .bouton .continuer {
            display: none;
        }
    }

    &[data-etape] {
        .bouton .commencer {
            display: none;
        }
    }

    &:not([data-etape="5"]) {
        .bouton .voir {
            display: none;
        }
    }

    &[data-etape="5"] {
        .bouton .continuer {
            display: none;
        }
    }
    &[data-etape="6"], &[data-etape="7"] {
        .bouton:has(.continuer) {
            display: none;
        }
    }

    .reponse {
        display: flex;
        flex-direction: column;
        gap: var(--half-gap);
        >div {
            font-family: "Raleway-Regular", Sans-serif;
            font-size: larger;
            strong {
                font-family: "Raleway-Bold", Sans-serif;
            }
            color: var(--orange);
        }
    }
}