#footer {
    background-color: var(--couleur-footer);
    padding: var(--gap);
    font-size: smaller;

    >div {
        max-width: var(--largeur-contenu);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        flex-direction: column;

        >div {
            display: flex;
            flex-direction: column;
        }

        >div:first-child {
            width: 100%;
            gap: var(--half-gap);
        }

        >div:not(:first-child) {
            flex: 1;
            gap: var(--gap);

            >ul {
                display: flex;
                flex-direction: column;
                gap: var(--half-gap);
            }

            >div {
                display: flex;
                gap: var(--half-gap);
                align-items: start;

                >svg {
                    fill: var(--couleur-principale);
                    width: 24px;
                    ;
                }
            }
        }

        @media screen and (min-width: 1024px) {
            flex-direction: row;

            padding: var(--large-gap);

            >div:first-child {
                max-width: 250px;
                gap: var(--half-gap);
            }

            >div:last-child {
                max-width: 300px;
            }
        }
    }
}