.groupe {
    background-color: #f6f6f6;

    margin-inline: calc(-1 * var(--small-gap));

    padding: var(--gap);

    @media screen and (min-width: 1024px) {
        margin-inline: calc(-1 * var(--gap));
        padding-block: var(--large-gap);
    }

    display: grid;
    place-items: center;

    >article {
        >header {
            display: flex;
            flex-direction: column;
            gap: var(--small-gap);
            margin-bottom: var(--small-gap);
        }

        >div {
            max-width: var(--largeur-contenu);
            display: flex;
            flex-direction: column;

            @media screen and (min-width: 1024px) {
                display: grid;
                grid-template-columns: 60% 1fr;
            }

            gap: var(--gap);

            >header {
                display: flex;
                gap: var(--small-gap);
                flex-direction: column;

            }

            >ul {
                display: grid;
                grid-template-columns: repeat(var(--_nb_columns, 2), 1fr);

                gap: var(--gap);

                li {
                    flex: 1;
                    background-color: white;
                    display: grid;
                    place-items: center;
                    width: 100%;
                    aspect-ratio: 1;
                    box-shadow: var(--ombre);
                    transition: all .3s ease;

                    &:hover {
                        box-shadow: var(--ombre-hover);
                    }
                }
            }
        }
    }
}