#header {
    display: flex;
    flex-wrap: wrap;

    gap: var(--gap);

    >.logo {
        flex: 1;

        img {
            object-fit: contain;
            height: 100%;
        }
    }

    >nav {
        width: 100%;

        display: flex;
        align-items: center;
        gap: var(--gap);

        a {
            color: var(--couleur-texte);
            text-decoration: none;

            &:hover {
                color: var(--couleur-alt);
            }
        }
    }

    >div {
        display: flex;
        align-items: center;
        gap: var(--gap);
    }

    @media screen and (max-width: 500px) {
        .logo {
            width: 100%;
        }
    }

    @media screen and (min-width: 1024px) {
        padding-inline: var(--gap);
        flex-wrap: nowrap;
        height: var(--hauteur-header);


        >nav {
            width: auto;
            order: 2;
        }

        >div {
            order: 3;
        }

    }
}