body:has(.hero-large) #header {
    position: sticky;
    top: 0;
    z-index: 4;
    --couleur-texte: var(--couleur-texte-inv);
}

body:has(#wpadminbar):has(.hero-large) #header {
    top:32px;
}


.hero-large {
    --marge-top: 120px;
    height: calc(var(--hero-height) + var(--marge-top));
    background-color: black;
    position: relative;
    display: grid;
    align-items: center;
    margin-top: calc(var(--marge-top) * -1);

    article {
        display: grid;
        place-items: center;
    }

    header {
        margin-top: var(--gap);
        position: relative;
        z-index: 3;
        color: var(--couleur-texte-inv);

        h2,
        div {
            color: inherit;

            >strong {
                font-family: 'Raleway-Bold';
            }
        }

        // width: calc(100% - var(--gap) * 2);
        max-width: var(--largeur-contenu);

        margin-inline: var(--gap);

        h2 {
            margin-bottom: var(--small-gap);
        }

        @media screen and (min-width: 1024px) {
            // max-width: 800px;
            // margin-left: 10vw;

            h2 {
                margin-bottom: var(--gap);
            }
        }
    }

    .photos {
        &:before {
            position: absolute;
            inset: 0;
            content: '';
            background: rgba(0, 0, 0, 0.5);
            z-index: 2;
        }

        overflow: hidden;
        position: absolute;
        inset: 0;

        figure {
            opacity: 1;
            transition: opacity 1s ease;
            z-index: 1;
            position: absolute;
            inset: 0;
            filter: blur(var(--hero-blur));
            transform: scale(1.1);
        }

        &:has(.selected) {
            figure {
                &:not(.selected) {
                    opacity: 0;
                }

            }
        }

        &:not(:has(.selected)) {
            figure {
                &:not(:first-child) {
                    opacity: 0;
                }

            }
        }

    }
}