a {
    color: var(--couleur-liens);
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease;

    @media screen and (min-width: 1024px) {

        &:hover {
            color: var(--couleur-alt);
        }
    }
}