.partenaires {
    gap: var(--half-gap);
    max-width: var(--largeur-contenu);
    margin: 0 auto;

    &,
    >header {
        display: flex;
        flex-direction: column;
    }

    >header {
        gap: var(--small-gap);
    }

    >ul {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--gap);
        justify-content: center;
        align-items: center;

        a {
            box-shadow: var(--ombre);
            display: block;
            aspect-ratio: 16/9;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        margin-inline: auto;
        margin-block: var(--gap);

        flex-direction: row;

        >header {
            width: 30vw;
            min-width: 300px;

        }

        >ul {
            a {}
        }
    }
}