.profile {
    --photo-size: 150px;

    @media screen and (min-width: 800px) {
        --photo-size: 200px
    }

    display: grid;
    place-items: center;

    >div {
        >figure {
            display: grid;
            grid-template-columns: var(--photo-size) 1fr;
            place-items: center;
            gap: var(--gap);

            @media screen and (min-width: 800px) {
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: smaller;
                gap: var(--micro-gap);
            }


            >img {
                object-fit: cover;
                display: block;
                width: var(--photo-size);
                height: var(--photo-size);
            }
        }

        max-width: var(--largeur-contenu);

        display: flex;
        flex-direction: column;

        @media screen and (min-width: 800px) {
            display: grid;
            grid-template-columns: var(--photo-size) 1fr;
        }

        gap: var(--gap);

        >div {
            display: flex;
            flex-direction: column;
            gap: var(--small-gap);
            font-size: smaller;
        }
    }

}