.section {
    max-width: var(--largeur-page);
    margin: 0 auto;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: var(--half-gap);
    padding: var(--small-gap);

    >* {
        margin-block: 0;
    }

    @media screen and (min-width: 1024px) {
        padding: var(--gap);
    }
}
.section:not(:has(>*)) {
    display: none !important;
}
.section+.section {
    padding-top: 0;
}