h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    line-height: 1.2;
    font-family: "Raleway-Bold", Sans-serif;
    color: var(--gris-fonce-alt);
}

.grand-titre {
    // color: var(--rouge);
    font-size: 35px;

    @media screen and (min-width: 800px) {
        font-size: 62px;
    }

    font-weight: 800;
    line-height: 1em;
}

.moyen-titre {
    color: var(--gris-fonce);
    font-size: 25px;

    @media screen and (min-width: 800px) {
        font-size: 50px;
    }

    font-weight: 800;
    line-height: 1em;
}

.surtitre {
    font-weight: bold;
    font-family: sans-serif;
    color: var(--couleur-alt);
    text-transform: uppercase;
}


