.video {

    dialog {
        background-color: black;
        border: 0;
        border-radius: var(--radius);
        padding: 0;

        // &:before {
        //     position: fixed !important;
        // }

        // overflow: visible;
        // &:before {
        //     background-color: black;
        //     width: 32px;
        //     height: 32px;
        //     border-radius: 50%;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     transform: translate(30%, -30%);
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     content: '✖';
        //     color: white;
        //     font-size: 1rem;
        //     cursor: pointer;
        // }

        >div {
            overflow: hidden;

            &:has(iframe) {
                // position: absolute;
                // left: 50%;
                // top: 50%;
                // transform: translate(-50%, -50%);
                width: 80vw;
                aspect-ratio: 1;

                iframe {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            video {
                width: 80vw;
                display: block;
            }
        }
    }

    cursor: pointer;
    display: flex;
    justify-content: center;
    min-height: calc(var(--hauteur-fenetre) * 0.4);
    max-width: var(--largeur-contenu);
    margin-inline: auto;
    background: no-repeat center;

    &:hover {
        svg {
            scale: 1.1;
        }
    }

    position: relative;

    >article {

        max-width: var(--largeur-contenu);

        display: flex;
        flex-direction: column;


        gap: var(--gap);

        >figure {
            width: 100%;
            aspect-ratio: 16/9;

            >img {
                filter: blur(5px);
                scale: 1.2;
            }
        }

        >header {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            gap: var(--small-gap);
            background-color: white;

            button[data-action="play"] {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, calc(-50% - var(--gap)));
                width: 64px;
                height: 64px;

                >svg {
                    fill: var(--couleur-principale);
                }

            }

            >div {
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: var(--gap);

                    &>li {
                        p {
                            margin-left: var(--gap);
                        }

                        &:before {
                            content: '★';
                            display: inline-block;
                            margin-right: .1rem;
                        }

                        h4 {
                            display: inline;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        // padding-block: calc(var(--hauteur-fenetre) * 0.1);

        >article {
            flex-direction: row;

            >figure {
                width: initial;
                aspect-ratio: initial;
                z-index: 0;
                position: absolute;
                inset: 0;
                right: 30%;
            }

            >header {
                box-shadow: var(--ombre);

                margin-left: 30vh;
                margin-block: 15vh;
                padding: var(--large-gap);
                gap: var(--gap);

                button[data-action="play"] {
                    left: 0;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

}