<section class="container">
    <div class="tile is-ancestor is-transparent">
        <div class="tile is-parent">
            <article class="tile is-child notification  is-transparent">
                <h3 class="title">
                    Avis clients


                </h3>
                <div class="columns">
                    <div class="column">
                    {% for item in avis %}
                        {% include 'partial/avis.twig' %}
                        {% if loop.index %2 == 0 %}
                         </div>
                       <div class="column">
                        {% endif %}
                    {% endfor %}
                    </div>

                </div>

            </article>
        </div>
    </div>
</section>