<div class="tile is-ancestor">
<div class="tile is-parent is-shady">
    <article class="tile is-child notification is-white">
        {{svg('medal')}}
        <div>
            <h2 class="title is-5">Engagement</h2>
            <p>Nous garantissons les
                délais et les prix de nos
                travaux.
            </p>
        </div>
    </article>
</div>
<div class="tile is-parent is-shady">
    <article class="tile is-child notification is-white">
        {{svg('handshake')}}
        <div>
            <h2 class="title is-5">Accompagnement</h2>
            <p>
                Nous sommes à vos côtés
                dès les demandes d’aides
                et jusqu’à la livraison des
                travaux.
            </p>
        </div>
    </article>
</div>
<div class="tile is-parent is-shady">
    <article class="tile is-child notification is-white">
        {{svg('map')}}
        <div>
            <h2 class="title is-5">Proximité</h2>
            <p>
                Nous travaillons dans les
                départements de la
                Moselle, de la Meurthe et
                Moselle et des Vosges.
            </p>
        </div>
    </article>
</div>
</div>