<div class="tile is-ancestor">
    <div class="tile is-parent is-shady">
        <article class="tile is-child notification is-white">
            <h2 class="title is-2">
                Quelles sont les aides à
                la rénovation dont je
                peux profiter ?
            </h2>
            <br>
            <p class="subtitle">
                Jusqu’à 80% d’économies d’énergie et une valeur de votre bien
                en hausse de 28%, cela vous intéresse ?
                Profitez des nouveaux dispositifs d’aides pour réaliser vos
                travaux de rénovation énergétique avec Rénova Claire,
                entreprise lorraine (54,55,57 et 88) spécialisée dans les travaux
                de rénovation et d’extensions de maisons individuelles.
            </p>
            <div align="right">
                <a href="/estimation" class="button is-primary">
                    Estimer mes aides à la rénovation
                </a>
            </div>
        </article>
    </div>
    <div class="tile is-parent is-shady tile-image">
        <article class="tile is-child notification is-white">
            <img src="{{ theme.uri }}/images/renovation.jpg">
        </article>
    </div>

</div>