<div class="genie">
    <article>
        <figure>
            <img src="{{home.genie.photo}}">
        </figure>
        <header>
            <span class="surtitre">{{home.genie.surtitre}}</span>
            <h2 class="moyen-titre">{{home.genie.titre}}</h2>
            <div>
                {{home.genie.texte}}
            </div>
        </header>
    </article>
</div>


