<div class="etapes">
	<header>
		<h3>{{data.titre}}</h3>
		<div class="p">{{data.texte}}</div>
	</header>
	<div>
		<ul>
			{% for etape in data.etapes %}
				<li>
					<span>{{loop.index}}</span>
					<div class="p">{{etape.texte}}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
