<div class="hero">
    <article>
        <figure>
            <img src="{{home.principal.photo.sizes.large}}">
        </figure>
        <header>
            <h2 class="grand-titre">{{home.principal.titre}}</h2>
            <div>{{home.principal.texte}}</div>
            <div align="right">
                <a href="/estimation" class="bouton">
                    <span>Estimer mes aides à la rénovation</span>
                    {{svg('fleche')}}
                </a>
            </div>
        </header>
    </article>
</div>