<div class="hero" style="background-image: url(/wp-content/themes/renovaclaire/images/Group-1477-2.png);">
    <article>
        <figure>
            <img src="{{ theme.uri }}/images/renovation.jpg">
        </figure>
        <header>
            <h2 class="grand-titre">
                Quelles sont les aides à
                la rénovation dont je
                peux profiter ? </h2>
            <p>
                Jusqu’à 80% d’économies d’énergie et une valeur de votre bien
                en hausse de 28%, cela vous intéresse ?
                Profitez des nouveaux dispositifs d’aides pour réaliser vos
                travaux de rénovation énergétique avec Rénova Claire,
                entreprise lorraine (54,55,57 et 88) spécialisée dans les travaux
                de rénovation et d’extensions de maisons individuelles.
            </p>
            <div align="right">
                <a href="/estimation" class="bouton">
                    Estimer mes aides à la rénovation
                </a>
            </div>
        </header>
    </article>
</div>