<div class="hero">
    <article>
        <figure>
            <img src="{{home.principal.photo}}">
        </figure>
        <header>
            <h2 class="grand-titre">{{home.principal.titre}}</h2>
            <div>{{home.principal.texte}}</div>
            <div align="right">
                <a href="/estimation" class="bouton">
                    Estimer mes aides à la rénovation
                </a>
            </div>
        </header>
    </article>
</div>