<section class="hero is-primary is-child notification  mt-5">
    <div class="hero-body">

        <div class="columns">
            <div class="column">
                <h2 class="title is-5">Les avantages de la
                    rénovation énergétique.
                </h2>
                <p class="subtitle">En tant qu’occupant ou en tant que
                    propriétaire, vous avez tout à gagner avec la
                    rénovation énergétique !</p>
                <img src="https://thepjfgroup.com/wp-content/uploads/2018/09/man-and-woman-interview-meeting.jpg"
                    class="only-on-desktop" style="position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 47%;
                            height: 68%;
                            object-fit: cover;">
            </div>
            <div class="column">

                <div class="mb-6 is-flex">
                    <div class="ml-3">
                        <h4 class="title">
                            Première rencontre
                        </h4>
                        <p class="subtitle has-text-grey">
                            Notre conseiller se déplace chez vous afin de prendre connaissance de
                            vos besoins et de la faisabilité du projet et d'établir une fourchette budgétaire.
                        </p>
                    </div>
                </div>
                <div class="mb-6 is-flex">
                    <span class="picto">
                        {{ svg('devis') }}

                    </span>
                    <div class="ml-3">
                        <h4 class="title">
                            Devis ferme et définitif


                        </h4>
                        <p class="subtitle has-text-grey">
                            Nous vous présentons le devis précis, le plan de votre extension, les
                            vues 3D, le coût global du projet et éventuellement une proposition de financement.


                        </p>
                    </div>
                </div>
                <div class="mb-6 is-flex">
                    <span class="picto">
                        {{ svg('administratif') }}
                    </span>
                    <div class="ml-3">
                        <h4 class="title">
                            Suivi administratif


                        </h4>
                        <p class="subtitle has-text-grey">
                            Rénovaclaire gère toute la partie administrative: plans, permis,
                            suivi de permis de construire ou de la demande préalable, actions correctives
                            demandées
                            par la
                            mairie.


                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>