<div class="solutions mb-5">
    <div class="columns">
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://static.wixstatic.com/media/1bd741_d22bd247f4dc498aa0fdbeb0c2aac624~mv2.jpeg/v1/fill/w_696,h_269,al_c,q_80,enc_auto/1bd741_d22bd247f4dc498aa0fdbeb0c2aac624~mv2.jpeg"
                            alt="Pompe à chaleur (PAC) " class="modal-button" data-target="modal-image2">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>
                            Pompe à chaleur (PAC)


                        </h4>
                        Une PAC est un dispositif de régulation de la température intérieure qui permet de chauffer un
                        logement et l'eau sanitaire de manière écologique.



                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://static.wixstatic.com/media/1bd741_02a4730fdcb740e18b9bcfd9768ce0ab~mv2.jpg/v1/fill/w_1920,h_768,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1bd741_02a4730fdcb740e18b9bcfd9768ce0ab~mv2.jpg"
                            alt="            Isolation Thermique Extérieure (ITE) " class="modal-button"
                            data-target="modal-image2">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>
                            Isolation Thermique Extérieure (ITE)


                        </h4>
                        L’isolation des murs par l’extérieur permet de conserver la chaleur dans votre maison en hiver
                        et de l’évacuer en été. Elle empêche également à l’humidité de pénétrer dans votre maison.



                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://static.wixstatic.com/media/1bd741_0c7945f9c47d4ebf945cb9669b9c4975~mv2.jpg/v1/fill/w_1200,h_422,al_c,q_85,enc_auto/1bd741_0c7945f9c47d4ebf945cb9669b9c4975~mv2.jpg"
                            alt="                        Calorifugeage " class="modal-button"
                            data-target="modal-image2">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>
                            Calorifugeage


                        </h4>
                        Le calorifugeage aide à réduire la facture énérgétique en évitant les pertes de chaleur via les
                        canalisations



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://static.wixstatic.com/media/1bd741_389d545fff1b44cebdfde6c7d6e98f4e~mv2.jpg/v1/fill/w_720,h_376,al_c,lg_1,q_80,enc_auto/1bd741_389d545fff1b44cebdfde6c7d6e98f4e~mv2.jpg"
                            alt="                                    Ballon thermodynamique " class="modal-button"
                            data-target="modal-image2">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>
                            Ballon thermodynamique


                        </h4>
                        Vous pouvez espérer réduire votre consommation d’énergie de 70 % par l'installation d'un ballon
                        thermodynamique. Le ballon thermodynamique est un appareil qui ne consomme que très peu
                        d’énergie fossile pour pouvoir fonctionner. Il s’inscrit en ce sens parmi les équipements de
                        chauffage écologiques et respectueux de l’environnement.



                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://static.wixstatic.com/media/1bd741_45a922ed1d8b46c6b26c53f9af4136a7~mv2.jpeg/v1/fill/w_1200,h_419,al_c,q_85,enc_auto/1bd741_45a922ed1d8b46c6b26c53f9af4136a7~mv2.jpeg"
                            alt="Isolation de combles, rampants et toit plat " class="modal-button"
                            data-target="modal-image2">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>
                            Isolation de combles, rampants et toit plat

                        </h4>
                        La mauvaise isolation des combles est la source de déperdition de chaleur la plus importante de
                        la maison puisqu'elle représente 25 % et 30 % des déperditions totales d'une maison.


                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://static.wixstatic.com/media/1bd741_ed44a91ca9d24c698b4167330ed9c226~mv2.jpg/v1/fill/w_1920,h_749,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1bd741_ed44a91ca9d24c698b4167330ed9c226~mv2.jpg"
                            alt="Remplacement des menuiseries extérieures" class="modal-button"
                            data-target="modal-image2">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>
                            Remplacement des menuiseries extérieures

                        </h4>
                        De nouvelles menuiseries étanches et efficaces vous feront réduire les coûts de chauffage
                        jusqu’à 30%, sans oublier l'apport de luminosité et l'esthétisme que procurera le changement des
                        menuiseries.


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>