<header id="header">
   <a href="/" class="logo">
      <img src="{{ theme.uri }}/images/logo-small.png">
   </a>

   <nav>
      <a href="/renovation-energetique/">
         Rénovation énergétique
      </a>

      <a class="navbar-item" href="/extension/">
         Projets d'extension
      </a>
   </nav>

      <a class="bouton" href="/contact">
         Demander un devis
      </a>
</header>