<header class="header">
   <section class="hero is-medium is-bold">
      <img class="header__fond" src="{{ theme.uri }}/images/bandeau.jpg">
      <div class="hero-head">
      </div>
      <div class="hero-body">
         <div class="container has-text-centered">
            <a href="{{site.url}}"><img class="logo" src="{{ theme.uri }}/images/logo-blanc.png"></a>
            <br>
            <br>
            <h1 class="title is-4">
               Entreprise de rénovation en Moselle, Meurthe-et-Moselle et Meuse                    
            </h1>
            <h2 class="subtitle">
               Pour votre projet de rénovation et d'extension, nous vous proposons une prestation globale clés en mains avec un interlocuteur unique pour planifier et gérer le chantier de A à Z.                     
            </h2>
         </div>
      </div>
   </section>
</header>
<div class="cta" id="cta-contact">
<p class="has-text-centered">
   <span class="tag is-primary">
   Gratuit
   </span>
   <a href="">
   Posez vos questions et réalisez une étude de votre projet gratuite et sans engagement      
   </a>
</p>
</div>
