{% extends "base.twig" %}
{% block content %}
    <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady" id="renovation-energetique">
                <div class="card-image has-text-centered">
                    {{ svg('temperature') }}
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>
                            Rénovation énergétique 
                        </h4>
                        <p>
                            Découvrez nos solutions de rénovations énergétiques et la réduction de consommation dont vous pourriez bénéficier 
                        </p>
                        <p>
                            <a href="#">
                                En savoir plus 
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady" id="extension">
                <div class="card-image has-text-centered">
                    {{ svg('extension') }}
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>
                            Extension de votre maison 
                        </h4>
                        <p>
                            Vous souhaitez des mètres carrés ou une pièce en plus dans votre maison ? Découvrez nos extensions adaptées à vos envies et à votre maison. 
                        </p>
                        <p>
                            <a href="/extension/">
                                En savoir plus 
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady" id="eligibilite">
                <div class="card-image has-text-centered">
                    {{ svg('test') }}
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>
                            Aides et financement 
                        </h4>
                        <p>
                            Testez votre éligibilité à l'aide de notre outil en ligne. Vous saurez rapidement à quels aides de l'état  avez droit pour réaliser votre projet 
                        </p>
                        <p>
                            <a href="#">
                                Commencer le test 
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
